<div *ngIf="!movieService.movies || movieService.movies.length === 0" class="container trending">
  <h1 class="mt-3">Trending Movies</h1>
  <div class="p-5 d-flex justify-content-around flex-wrap">
    <div *ngFor="let movie of movieService.trend_movies">
      <app-card [movie]="movie" (click)="movieService.getCredits(movie.id); movieService.getSingleMovie(movie.id)" routerLink="/movie/{{movie.id}}"></app-card>
    </div>
  </div>
</div>

<div *ngIf="movieService.movies && movieService.movies.length !== 0" class="container movies">
  <mat-button-toggle class="mt-3">Go back</mat-button-toggle>
  <h1 class="mt-3">Movies</h1>
  <div class="p-5 d-flex justify-content-around flex-wrap" >
    <div *ngFor="let movie of movieService.movies">
      <app-card [movie]="movie" (click)="movieService.getCredits(movie.id); movieService.getSingleMovie(movie.id)" routerLink="/movie/{{movie.id}}"></app-card>
    </div>
  </div>
</div>
