<div class="container">
  <mat-button-toggle routerLink="/search" class="mt-3">Go back</mat-button-toggle>
  <h1 class="mt-3">Advanced Search</h1>
  <div class="search-container d-flex align-content-start">
    <mat-form-field class="me-2" appearance="fill" color="primary">
      <mat-label>Search for a Movie</mat-label>
      <input matInput type="text" id="query" name="query" [(ngModel)]="query" (focusout)="movieService.getMovies(query)">
    </mat-form-field>

    <mat-form-field class="me-2" appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" (dateChange)="getDate($event)">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <section class="genres w-50 d-flex flex-wrap">
      <mat-checkbox *ngFor="let genre of movieService.genres" (change)="getGenreId($event, genre.id)" class="me-2">{{genre.name}}</mat-checkbox>
    </section>

    <mat-button-toggle (click)="filterMovies()">Search</mat-button-toggle>
  </div>

  <!--TOTAL CONTAINER-->
  <div *ngIf="filtered_by_date.length || filtered_by_genre.length">
    <h2 class="mt-3" *ngIf="filtered_by_date.length">Movies from {{date_f | date:'dd MMM YYYY'}}</h2>
    <h2 class="mt-3" *ngIf="!filtered_by_date.length">No movies from selected date</h2>
    <div >

      <!--NO FILM CHE MATCHANO-->
      <div *ngIf="filtered_by_genre === null" class="p-5 d-flex justify-content-around flex-wrap">
        <h3>No movies with these combined genres.</h3>
      </div>

      <!--FILM PER GENERI-->
      <div *ngIf="filtered_by_genre && filtered_by_genre.length" class="p-5 d-flex justify-content-around flex-wrap">
        <div *ngFor="let movie of filtered_by_genre">
          <app-card [movie]="movie" (click)="movieService.getCredits(movie.id); movieService.getSingleMovie(movie.id)" routerLink="/movie/{{movie.id}}"></app-card>
        </div>
      </div>
      <!--SOLO FILM PER DATA-->
      <div *ngIf="filtered_by_genre && !filtered_by_genre.length" class="p-5 d-flex justify-content-around flex-wrap">
        <div *ngFor="let movie of filtered_by_date">
          <app-card [movie]="movie" (click)="movieService.getCredits(movie.id); movieService.getSingleMovie(movie.id)" routerLink="/movie/{{movie.id}}"></app-card>
        </div>
      </div>

    </div>
  </div>
</div>
